# Server
PORT=5000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/fashionbrand"

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRES_IN=7d

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=aviwebstudios@gmail.com
EMAIL_PASS=tjqprizfcvtzlpta

# Cloudinary
CLOUDINARY_CLOUD_NAME=durlngqbs
CLOUDINARY_API_KEY=613145623125482
CLOUDINARY_API_SECRET=xZOvh_kSPhEpv6Zu_cyRenSQmGc

# Paystack
PAYSTACK_SECRET_KEY=sk_test_e6c7986555a852bd0c642a18d222bc7cf999b587
PAYSTACK_PUBLIC_KEY=pk_test_64b4f3c9cf0b436231bc593cbe0bf5b636f09246

# Frontend URL
CLIENT_URL=http://localhost:5173